name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B verify --file pom.xml

    - name: Upload Artifact
      if: matrix.os == 'ubuntu-latest' # Upload only once since it's a cross-platform shaded jar
      uses: actions/upload-artifact@v4
      with:
        name: dependency-viewer
        path: target/dependency-viewer.jar
        if-no-files-found: error

    - name: Publish to Release
      if: matrix.os == 'ubuntu-latest' && github.event_name == 'release'
      uses: softprops/action-gh-release@v2
      with:
        files: target/dependency-viewer.jar
